/* don't use px for media queries, also when building web pages */
/* rem and em do not depend on html font size in media queries !
instead 1em = 1rem = 16px */
/* due to bugs in other browsers, rem is not advised to be used in media queries, hence i use em */

/* take note that, i am using some specific good breakpoints conbined with breakpoints when tge design breaks */

/* do not have too many media queries */

/* using  desktop approach first, then creating media queries from the top (desktop screens to mobile screens), max-width is used,
**using the mobile first approach, then creating media queries for larger screens, min-width is used */

/*nb- I am setting breakpoints when the design breaks 
** in responsive design, we change fonts, spacing and reduce elements that are large to fix the appropriate screen sizes
*/

/*===================================-*/
/*BELOW 1344PX/16px = 84em {Smaller desktops */
/*===================================*/

@media (max-width: 84em) {
  .hero-grid {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/*===================================-*/
/*BELOW 1200X/16px = 75em {landscape(Tablets) */
/*===================================*/
@media (max-width: 75em) {
  html {
    /* 9px/16px x 100% */
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav_list {
    gap: 3.2rem;
  }

  .hero-grid {
    gap: 4.8rem;
  }

  .testimonials-container {
    padding: 9.6rem 4.8rem;
  }
}

/* nb: a media query should work around 200 to 300px, i.e do not add media query at every 50px to fix design problems that appears as i scale down the page*/

/*===================================-*/
/*BELOW 956X/16px = 60em (Tablets) */
/*===================================*/
@media (max-width: 60em) {
  html {
    font-size: 50%;
  }

  .hero-grid {
    grid-template-columns: 1fr;
    padding: 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    /* 3/5 = 60, 2/5 = 40 */
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }
}
